#details-part {
  div {
    .btn {
      .backBtn {
        width: 136px;
        height: 40px;
        border: 0;
        outline: 0;
        background: transparent;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        border-radius: 6px;
        margin: 90px 0 50px 50px;
        cursor: pointer;
        .fa-solid {
          margin-right: 10px;
        }
      }
      @media only screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        .backBtn{
        margin: 90px 0 50px 0;

        }
      }
      @media only screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        .backBtn{
          margin: 90px 0 50px 0;
  
          }

      }
    }

    .card-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .image {
        img {
          width: 560px;
          height: 420px;
          border-radius: 5px;
          @media only screen and (max-width: 1024px) {
            width: 425px;
            height: 250px;
          }
          @media only screen and (max-width: 768px) {
            width: 250px;
            height: 220px;
          }
        }
      }
      .info-part {
        h3 {
          font-weight: 800;
          font-size: 32px;

        }
        .info {
          display: flex;
          justify-content: space-between;
          margin-top: 23px;
         
          @media only screen and (max-width: 768px) {
            display: flex;
          }
          .left {
            p {
              .name {
                font-weight: 600;
                font-size: 16px;
              }
              .value {
                font-weight: 300;
                font-size: 16px;
              }
            }
          }
          .right {
            p {
              .name {
                font-weight: 600;
                font-size: 16px;
              }
              .value {
                font-weight: 300;
                font-size: 16px;
              }
            }
          }
         
        }
      }
    }
    .info-footer {
      margin-top: 50px;

      span {
        font-weight: 600;
        font-size: 16px;
      }
      @media only screen and (max-width: 768px) {
        span {
          display: block;
          margin-bottom: 20px;
          button {
            display: block;
          }
        }
      }
      span {
        button {
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
          border-radius: 2px;
          background-color: transparent;
          border: 0;
          outline: 0;
          margin: 0 10px;
          padding: 5px;
          margin-top: 10px;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      row-gap: 30px;
      margin-left: 0;
    }
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
}
