// #root {
//   max-width: 1400px;
//   margin: 0 auto;
// }

.App {
  background-color: #fafafa;
  // padding: 50px;
  font-family: "Nunito Sans", sans-serif;
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
  }
}

.Dark {
  background-color: #202c36;
  font-family: "Nunito Sans", sans-serif;
  #header {
    background: #2b3844;
    .header {
      background: #2b3844;
      .logo {
        h1 {
          color: #ffffff;
        }
      }
      div {
        .fa-regular {
          color: #ffffff;
        }
        .dark-mode-btn {
          color: #ffffff;
        }
      }
    }
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    
    .search-filter {
      .input-search {
        .fa-solid {
          color: #ffffff;
        }
        input {
          background: #2b3844;
          color: #ffffff;
        }
      }
      .filter-region {
        select {
          background-color: #2b3844;
          color: #ffffff;
        }
      }
    }
    .card-comp {
      .card-col {
        .cards {
          background: #2b3844;
          color: #ffffff;
        }
      }
    }
    #details-part {
      color: #ffffff;
      div {
        .backBtn {
          color: white;
          .fa-solid {
            color: #ffffff;
          }
        }
        .info-footer {
          button {
            color: #ffffff;
          }
        }
      }
    }
    .spindiv {
      background-color: #202c36;
      
    }
  }
}
